<div id="aside">
  <div id="RightvideoInfo" data-url="{:U('Pushctrl/Index/getMediaInfo')}">
    <div class="right-thumb-wrapper">
      <img id="js_url" src="" title="缩略图">
    </div>
    <div class="bfR">
      <ul>
        <li><label for="js_asset_name">片　　名:</label><span id="js_asset_name"></span></li>
        <li><label for="js_mediatype">类　　型:</label><span id="js_mediatype"></span></li>
        <li><label for="js_introduction">简　　介:</label><span id="js_introduction"></span></li>
      </ul>
    </div>
  </div>
</div>