<style>
  body{
    font-size: 14px;
    line-height: 22px;
    color: #dae6ff;
    margin: 0;
    padding: 0;
    background-image: url('__PUBLIC__/Home/img/bg1.jpg');
    background-repeat: repeat;
    overflow-y: hidden;
  }
  a{
    color: #D2DEF6;
    text-decoration: none;
  }
  a:hover{
    color: #FFF;
    text-decoration: none;
  }
  #c {
    background-repeat: no-repeat;
    min-height: 500px;
    height: auto;
    min-width: 960px;
    width: 100%;
    margin: 120px auto;
    padding: 0;
  }

  .clear{
    clear: both;
  }
  .lf{
    float: left;
  }
  .lr{
    float: right;
  }
  .title{
    line-height: 40px;
    color: #dae6ff;
  }
  .center{
    width: 906px;
    margin: 0px auto;
    padding: 0px;

  }
  .top_bg{
    background-image: url(__PUBLIC__/Home/img/top.png);
    background-repeat: no-repeat;
    margin: 0px auto ;
    padding: 0px;
    height: 142px;
    width: 906px;
  }
  .top_bg2{
    background-image: url(__PUBLIC__/Home/img/top_2.png);
    background-repeat: no-repeat;
    margin: 0px auto;
    padding: 0px;
    height: 134px;
    width: 904px;
  }

  .c_1bg {
    height: 150px;
    width: 378px;
  }

  .c_1bg a {
    background-image: url(__PUBLIC__/Home/img/bf.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 102px 0px 0px 30px;
    height: 48px;
    width: 348px;
    font-size: 14px;
    line-height: 22px;
    color: #abbecd;
    text-decoration: none;
    display: block;
  }
  .c_1bg a:hover {
    background-image: url(__PUBLIC__/Home/img/bf_2.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 102px 0px 0px 30px;
    height: 48px;
    width: 348px;
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
    text-decoration: none;
    display: block;
  }

  .c_2bg,.c_3bg,.c_4bg,.c_6bg ,.c_8bg  {
    height: 150px;
    width: 176px;
  }

  .c_2bg a ,.c_3bg a ,.c_4bg a ,.c_6bg a , .c_8bg a , .c_8dg a{
    background-image: url(__PUBLIC__/Home/img/bs.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 110px 0px 0px 50px;
    height: 40px;
    width: 126px;
    font-size: 14px;
    line-height: 22px;
    color: #abbecd;
    text-decoration: none;
    display: block;
  }
  .c_8dg a:hover {
    cursor:default	;
  }
  .c_2bg a:hover,.c_3bg a:hover,.c_4bg a:hover ,.c_6bg a:hover ,.c_8bg a:hover   {
    background-repeat: no-repeat;
    margin: 0px;
    padding: 110px 0px 0px 50px;
    height: 40px;
    width: 126px;
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
    text-decoration: none;
    display: block;
  }
  .c_2bg a:hover {
      background-image: url(__PUBLIC__/Home/img/bs_1.png);
  }
  .c_3bg a{
    background-image: url(__PUBLIC__/Home/img/dy.png);
  }
  .c_3bg a:hover{
    background-image: url(__PUBLIC__/Home/img/dy_1.png);
  }
  .c_4bg a{
    background-image: url(__PUBLIC__/Home/img/gk.png);
  }

  .c_4bg a:hover{
    background-image: url(__PUBLIC__/Home/img/gk_1.png);
  }
  .c_6bg a:hover{
    background-image: url(__PUBLIC__/Home/img/yh_1.png);
  }
  .c_6bg a{
    background-image: url(__PUBLIC__/Home/img/yh.png);
  }
  .c_8bg a:hover{
    background-image: url(__PUBLIC__/Home/img/rz_1.png);
  }
  .c_8bg a{
    background-image: url(__PUBLIC__/Home/img/rz.png);
  }
  .c_8dg a{
    background-image: url(__PUBLIC__/Home/img/rz.png);
  }
  .c_9bg {
    background-image: url(__PUBLIC__/Home/img/bf_3.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 110px 0px 0px 50px;
    height: 40px;
    width: 126px;
    font-size: 14px;
    line-height: 22px;
    color: #abbecd;
    text-decoration: none;
    display: block;
  }


  .c_5bg ,.c_7bg{
    height: 150px;
    width: 277px;
  }
  .c_5bg a ,.c_7bg a {
    background-image: url(__PUBLIC__/Home/img/jf.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 97px 0px 0px 43px;
    height: 68px;
    width: 230px;
    font-size: 14px;
    line-height: 22px;
    color: #abbecd;
    text-decoration: none;
    display: block;
  }
  .c_5bg a:hover ,.c_7bg a:hover {
    background-image: url(__PUBLIC__/Home/img/jf_1.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 97px 0px 0px 43px;
    height: 68px;
    width: 230px;
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
    text-decoration: none;
    display: block;
  }
  .c_7bg a {
    background-image: url(__PUBLIC__/Home/img/gl.png);
    padding: 30px 0px 0px 47px;
    height: 120px;
    width: 230px;
  }
  .c_7bg a:hover {
    background-image: url(__PUBLIC__/Home/img/gl_1.png);
    padding: 30px 0 0 47px;
    height: 120px;
    width: 230px;
  }

  .h17{
    margin-top: 10px;
  }
  .w10{
    margin-left: 20px;
  }

  .h30{
    margin-top: 20px;
    line-height: 45px;
    text-align: center;
  }
  .b{
    border: 1px solid #3d7796;
  }
  .dl_bg{
    background-image: url(__PUBLIC__/Home/img/dl_bg.png);
    background-repeat: repeat-x;
    margin: 0px;
    padding: 65px 0px 0px 0px;
    height: 262px;
  }
  .dl_c{
    margin: 0px auto ;
    padding: 0px;
    width: 428px;
  }
  .dl_c2{
    margin: 18px auto 0px auto;
    padding: 0px 0px 0px 5px;
    width: 85px;
    height:32px;
    font-size: 14px;
    color: #FFF;
    line-height: 32px;
    background-image: url(__PUBLIC__/Home/img/butter.gif);
    text-align: center;
    background-repeat: no-repeat;
  }
  .title1 {
    line-height: 44px;
    font-weight: bold;
    color: #65818f;
    background-image: url(__PUBLIC__/Home/img/j.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 44px;
    width: 102px;
  }
  .title1 a{
    color: #65808f;
    text-decoration: none;
  }
  .title1 a:hover{
    color: #b7d6e5;
    text-decoration: none;
  }
</style>