<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="version" content="2.0">
    <title>mbis内容管理系统主页 &middot; PushUI2.0</title>
    <include file="Public/style" />
</head>
<body>
<div id="c">
    <div class="center top_bg "></div>
    <div class="center h17">
        <div class="lf c_1bg"><strong><a href="{$list['pushcontrol']}">播发管控</a></strong></div>
        <div class="lf c_2bg"><strong> <a href="{$list['content']}">内容管理</a></strong></div>
        <div class="lf c_3bg"><strong> <a href="{$list['subscribe']}">业务管理</a></strong></div>
        <div class="lf c_4bg"><strong> <a href="{$list['advertise']}">广告管理</a></strong></div>
        <div  class="clear"></div>
    </div>
    <div class="center h17">
        <div class="lf c_5bg"> <strong> <a href="javascript:;"></a></strong></div>
        <!--<div class="lf c_6bg"> <strong> <a href="{$list['customer']}">用户管理</a></strong></div>-->
        <div class="lf c_6bg"> <strong> <a href="javascript:;"></a></strong></div>
        <div class="lf c_7bg"> <strong> <a href="javascript:;"></a></strong></div>
        <div class="lf c_8bg"> <strong> <a href="{$list['permission']}">权限管理</a></strong></div>
        <div class="clear"></div>
    </div>
    <div class="center h30"> <strong>版权所有  北京迈伦斯科技有限公司</strong></div>
</div>
<script type="text/javascript" src="__PUBLIC__/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
<!--<script type="text/javascript" src="__PUBLIC__/Home/js/login.js"></script>-->
</body>
</html>