<!--BEGIN 模态框（Modal）/dialog -->
<div id="loadingCut" title="正在备播，请稍等!">
  <br/><br/>
  <img alt='loading cut parts' src='__PUBLIC__/Content/img/loading.gif'/>
</div>
<div id="loadingSubmit" title="正在提交，请稍等!">
  <br/>
  <img alt='submiting...' src='__PUBLIC__/Content/img/loading.gif'/>
  <br />
</div>
<div id="DialogSubmitSuccess" title="提交成功!"><h5>提交成功!</h5></div>
<div id="requireContent" title="您还未选择内容!"><h5>请您选择内容</h5></div>
<div id="requireCut" title="您还未备播!">
  <h5><span class="ui-icon ui-icon-alert"></span>备播之后才能提交!</h5>
</div>
<div id="alreadyCut" title="备播已完成!">
  <h5><span class="ui-icon ui-icon-check"></span>备播已完成!</h5>
</div>
<!--END 模态框（Modal）/dialog -->