<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="cms,MBIS内容管理系统">
    <title>PushUI &middot; 内容编辑 &middot; 电视节目总集</title>
    <!--Bootstrap css-->
    <css href="__PUBLIC__/bootstrap/css/bootstrap.css" />
    <!--jquery-ui css-->
    <css href="__PUBLIC__/jquery-ui-1.12.1/jquery-ui.css" />
    <!--customize jquery ui-->
    <include file="Public/style" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Content/css/index.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Content/css/edit.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Content/css/series.css" />
    <style>
        #SeriesRight {height: 470px;}
    </style>
</head>
<body>
<!--logo datetime home header-->
<include file="Public/header" />
<div class="main-wrapper">
    <!--sidebar-->
    <div class="sidebar">
        <ul class="nav nav-stacked">
            <li role="presentation">
                <a href="{:U('Index/index')}"><img src="__PUBLIC__/Content/img/down_import.gif" /></a>
            </li>
            <!--内容编辑-->
            <li role="presentation" class="active">
                <a href="{:U('Edit/index')}"><img src="__PUBLIC__/Content/img/up_edit.gif" /></a>
            </li>
            <li role="presentation">
                <a href="{:U('Search/index')}"><img src="__PUBLIC__/Content/img/down_search.gif" /></a>
            </li>
            <li role="presentation">
                <a href="{:U('Settings/index')}"><img src="__PUBLIC__/Content/img/down_system.gif" /></a>
            </li>
        </ul>
    </div>
    <!--主体内容-->
    <div id="childCenter">
        <div id="editTabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active" role="presentation">
                    <a href="javascript:;">电视节目总集</a>
                </li>
            </ul>
            <!--BEGIN 电视节目总集标签页-->
            <div id="editTabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                <div id="editTabsB" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                    <!--电视节目总集列表caption-->
                    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
                            <a href="#editSeriesTabs">电视节目总集</a>
                        </li>
                    </ul>
                    <!--电视节目总集列表-->
                    <div id="editSeriesTabs" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                        <div class="editTable">
                            <!--thead-->
                            <div class="editTableTitle">
                                <ul id="SeriesListTitle">
                                    <li>&nbsp;</li><li>NO.</li><li>文件名称</li><li>操作</li>
                                </ul>
                            </div>
                            <!--tbody-->
                            <div id="SeriesListContent" class="editTableContent">
                                <!--#SeriesTable template/xhr (tvshows.js reloadTVShowsTitle())-->
                                <table id="SeriesTable" class="table table-fixed">
                                    <tbody>
                                    <foreach name="list" item="vo">
                                        <tr data-oid="{$vo['oid']}">
                                            <td class="col-0" title="arrow"><div class="tr_arrow"></div></td>
                                            <td class="col-1" title="{$key+1}">{$key+1}</td>
                                            <td class="col-2" title="{$vo['title']}">{$vo['title']}</td>
                                            <td class="col-3" title="delete">
                                                <a href="javascript:void(0)" title="删除电视节目总集" onclick="deleteSeries(this)">删除</a>
                                            </td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                            </div>
                            <!--panel footer-->
                            <div id="SeriesListFooter">
                                <!--<input type="button" id="js-addShows" value="添加节目总集" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">-->
                                <button id="js-addShows"><span class="ui-icon ui-icon-plusthick"></span>添加总集</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--右边电视节目总集详情-->
                <div id="SeriesRight">
                    <input id="js-baseurl" type="hidden" value="__URL__" />
                    <input id="project_root" type="hidden" value="__ROOT__" />
                    <!--电视节目总集 详情-->
                    <form method="post" id="EditSeriesInfo">
                        <input type="hidden" name="EditSeriesOID" id="EditSeriesOID" value="">
                        <!--电视节目总集 基本信息-->
                        <table id="TVShowsInfo" class="series-info">
                            <tbody>
                            <!--节目名 主持人 评分-->
                            <tr>
                                <td><label for="EditSeriesTitle">节目名：</label></td>
                                <td><input type="text" name="title" id="EditSeriesTitle"></td>
                                <td><label for="EditSeriesHost">主 持 人：	</label></td>
                                <td><input type="text" name="host" id="EditSeriesHost"></td>
                                <td><label for="EditSeriesRating">评分：</label></td>
                                <td><input type="number" name="rating" id="EditSeriesRating"></td>
                            </tr>
                            <!--播出电视台 节目类型-->
                            <tr>
                                <td><label for="EditSeriesSourceFrom">播出电视台：</label></td>
                                <td><input type="text" name="sourcefrom" id="EditSeriesSourceFrom"></td>
                                <td><label for="EditSeriesType">节目类型：	</label></td>
                                <td colspan="3"><input type="text" name="tvshowtype" id="EditSeriesType" /></td>
                            </tr>
                            <!--语言 国家/地区-->
                            <tr>
                                <td><label for="EditSeriesLanguage">语言：</label></td>
                                <td>
                                    <select name="languageid" id="EditSeriesLanguage">
                                        <option value="0">请选择</option>
                                        <foreach name="langs" item="vo" title="language">
                                            <option value="{$vo['id']}">{$vo['language']}</option>
                                        </foreach>
                                    </select>
                                </td>
                                <td><label for="EditSeriesCountry">国家/地区：</label></td>
                                <td>
                                    <select name="countryid" id="EditSeriesCountry">
                                        <option value="0">请选择</option>
                                        <foreach name="countries" item="vo">
                                            <option value="{$vo['id']}">{$vo['country']}</option>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--电视节目总集简介 + 缩略图/海报 show-->
                        <table class="series-info">
                            <tbody>
                            <tr>
                                <td><label for="EditSeriesIntroduction">全片简介：</label></td>
                                <td><label for="js-thumb">缩略图</label></td>
                                <td><label for="js-poster">海报</label></td>
                                <td><label for="js-qrcode">二维码</label></td>
                            </tr>
                            <tr>
                                <td><textarea name="introduction" id="EditSeriesIntroduction" rows="4" cols="60"></textarea></td>
                                <td><div id="EditSeriesThumb"><img id="js-thumb" class="thumb" src="" title="电视节目总集缩略图"></div></td>
                                <td><div id="EditSeriesBackground"><img id="js-poster" class="poster" src="" title="电视节目总集海报"></div></td>
                                <td><div><img id="js-qrcode" class="qrcode" src="" title="电视节目总集二维码" /></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="tables-wrapper">
                        <!-- 全集内容列表：-->
                        <div class="tablewrap">
                            <div class="caption">全集内容列表：</div>
                            <table id="SeriesEpisodesList" class="table table-fixed">
                                <thead class="scrollHead importTableTitle">
                                <tr>
                                    <th class="th-0">&nbsp;</th>
                                    <th class="th-1">NO.</th>
                                    <th class="th-2">文件名</th>
                                    <th class="th-3">时长</th>
                                    <th class="th-4">操作</th></tr>
                                </thead>
                                <tbody class="scrollBody" id="js-episodes">
                                <!--分集列表 xhr load -->
                                </tbody>
                            </table>
                        </div>
                        <!-- 附件内容列表：-->
                        <div class="tablewrap">
                            <div class="caption">附件内容列表：</div>
                            <table id="EditSeriesAppendixList" class="table table-fixed">
                                <thead class="importTableTitle">
                                <tr>
                                    <th class="th-0">&nbsp;</th>
                                    <th class="th-1">NO.</th>
                                    <th class="th-2">文件名</th>
                                    <th class="th-3">大小</th>
                                    <th class="th-4">类型</th>
                                    <th class="th-5">操作</th></tr>
                                </thead>
                                </thead>
                                <tbody id="js-appendix">
                                <!--xhr load-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/ .tables-wrapper-->
                    <div class="buttons-wrapper">
                        <a id="button-1" href="__CONTROLLER__/tvprogram"><span class="ui-icon ui-icon-document"></span>查看分集</a>
                        <button id="button-2" onclick="deleteTvShowEpisode()"><span class="ui-icon ui-icon-trash"></span>删除分集</button>
                        <a id="button-3" href="__CONTROLLER__/tvprogram" title="返回编辑电视节目分集"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>返回</a>
                        <button id="button-4" onclick="EditShowsSub()"><span class="ui-icon ui-icon-arrowthickstop-1-s"></span>保存</button>
                        <button id="button-5" onclick="EditShowsAppendix()"><span class="ui-icon ui-icon-plusthick"></span>添加附件</button>
                    </div>
                </div>
                <!--END 电视节目总集标签页-->
            </div>
        </div>
    </div>
</div>

<!--BEGIN dialog new TV shows-->
<div id="DialogAddShows" title="电视节目——添加新节目总集">
    <div class="dialog-body">
        <form method="post" id="addTVShowsInfo" enctype="multipart/form-data" action="__URL__/newTVShows">
            <div class="form-group">
                <label for="shows-title">节 目 名：</label>
                <input id="shows-title" type="text" name="title" required />
                <label for="shows-host">主 持 人：</label>
                <input id="shows-host" type="text" name="host" />
                <label for="shows-rating">评分: </label>
                <input id="shows-rating" type="number" name="rating" />
            </div>
            <div class="form-group">
                <label for="shows-sourcefrom">播出电视台：</label>
                <input id="shows-sourcefrom" type="text" name="sourcefrom" />
                <label for="shows-tvshowtype">节目类型：</label>
                <input id="shows-tvshowtype" type="text" name="tvshowtype" />
            </div>
            <div class="form-group">
                <label for="shows-language">语 言：</label>
                <select id="shows-language" name="languageid">
                    <option value="0">请选择</option>
                    <foreach name="langs" item="vo" title="language">
                        <option value="{$vo['id']}">{$vo['language']}</option>
                    </foreach>
                </select>
                <label for="shows-country">国家地区：</label>
                <select id="shows-country" name="countryid">
                    <option value="0">请选择</option>
                    <foreach name="countries" item="vo">
                        <option value="{$vo['id']}">{$vo['country']}</option>
                    </foreach>
                </select>
            </div>
            <div class="form-group">
                <label for="shows-introduction">电视节目简介：</label>
                <textarea id="shows-introduction" rows="4" cols="80" name="introduction"></textarea>
            </div>
            <!--上传电视节目总集 缩略图 背景图-->
            <div class="form-group">
                <label for="series-appendix">上传附件：</label><br />
                <table id="series-appendix">
                    <tbody>
                    <tr>
                        <td><label for="series-thumb">缩略图: </label></td>
                        <td><input id="series-thumb" type="file" data-typeid="1" name="NewSeriesThumbAppendix"/></td>
                    </tr>
                    <tr>
                        <td><label for="series-poster">背景图: </label></td>
                        <td><input id="series-poster" type="file" data-typeid="2" name="NewSeriesBackgroundAppendix" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<!--END dialog add new TV series-->
<div id="DialogDeleteEpisodeFirst" title="电视节目总集不能删除">
    <br /><h5 class="text-alert"><span class="ui-icon ui-icon-alert"></span>电视节目总集下有分集 请先删除所有分集!</h5>
</div>

<div id="DialogEditSeriesAppendix" title="添加电视节目总集附件">
    <form id="editRightSeriesJumpAppendixInfo" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <!--name="attachoid" DO NOT CHANGE!-->
            <input type="hidden" id="js-soid" name="attachoid" value="" />
            <label for="dialog_file">选择文件: </label><input type="file" id="dialog_file" name="filename" required />
        </div>
        <div class="form-group">
            <label for="dialog_appendix_type">附件类型: </label>
            <select id="dialog_appendix_type" name="appendixtypeid">
                <foreach name="appendixtypes" item="vo">
                    <option value="{$vo.id}">{$vo.appendixtype}</option>
                </foreach>
            </select>
        </div>
    </form>
</div>

<div id="DialogSaveFeedback" title="保存成功">
    <br />
    <p><span class="ui-icon ui-icon-check"></span>电视节目总集保存成功!</p>
</div>

</body>
<!--lib: jquery と jquery-ui -->
<load href="__PUBLIC__/bootstrap/js/jquery-3.1.1.js" />
<js href="__PUBLIC__/jquery-ui-1.12.1/jquery-ui.js" />

<!--header date time-->
<js href="__PUBLIC__/Content/js/index.js" />
<!--cookie-->
<js href="__PUBLIC__/Common/js/cookie.js" />
<!--内容编辑-->
<js href="__PUBLIC__/Content/js/edit.js" />
<!--电视节目总集-->
<js href="__PUBLIC__/Content/js/tvshows.js" />

</html>