<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="cms,MBIS内容管理系统">
    <title>PushUI 2.0内容管理系统 &middot; 热点视频</title>
    <!--Bootstrap css-->
    <css href="__PUBLIC__/bootstrap/css/bootstrap.css" />
    <!--jquery-ui css-->
    <css href="__PUBLIC__/jquery-ui-1.12.1/jquery-ui.css" />
    <!--customize jquery ui-->
    <include file="Public/style" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Content/css/index.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Content/css/edit.css" />
    <style>
        #system-name {width: 260px; cursor: not-allowed;}
    </style>
</head>
<body>
<!--logo datetime home header-->
<include file="Public/header" />
<div class="main-wrapper">
    <!--sidebar-->
    <div class="sidebar">
        <ul class="nav nav-stacked">
            <li role="presentation">
                <a href="{:U('Index/index')}"><img src="__PUBLIC__/Content/img/down_import.gif" /></a>
            </li>
            <li role="presentation" class="active">
                <a href="{:U('Edit/index')}"><img src="__PUBLIC__/Content/img/up_edit.gif" /></a>
            </li>
            <li role="presentation">
                <a href="{:U('Search/index')}"><img src="__PUBLIC__/Content/img/down_search.gif" /></a>
            </li>
            <li role="presentation">
                <a href="{:U('Settings/index')}"><img src="__PUBLIC__/Content/img/down_system.gif" /></a>
            </li>
        </ul>
    </div>
    <!--主体内容-->
    <div id="childCenter">
        <!--标签 + 标签内容页-->
        <div id="editTabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
            <!--标签列表项-->
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top" role="presentation">
                    <a href="{:U('Edit/index')}">电影</a>
                </li>
                <li class="ui-state-default ui-corner-top" role="presentation">
                    <a href="{:U('Edit/tvplay')}">电视剧</a>
                </li>
                <li class="ui-state-default ui-corner-top" role="presentation">
                    <a href="{:U('Edit/tvprogram')}">电视节目</a>
                </li>
                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active" role="presentation">
                    <a href="{:U('Edit/video')}">热点视频</a>
                </li>
                <li class="ui-state-default ui-corner-top" role="presentation">
                    <a href="{:U('Edit/opera')}">戏曲</a>
                </li>
                <li class="ui-state-default ui-corner-top" role="presentation">
                    <a href="{:U('Edit/special')}">专题节目</a>
                </li>
            </ul>
            <!--BEGIN 热点视频标签页-->
            <div id="editTabs-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                <!--热点视频左边列表-->
                <div id="editTabsC-1">
                    <div class="table editTable">
                        <div class="editTableTitle">
                            <ul>
                                <li class="li-0">&nbsp;</li>
                                <li class="li-1">NO.</li>
                                <li class="li-2">文件名称</li>
                                <li class="li-3">类型</li>
                                <li class="li-4">大小</li>
                                <li class="li-5">删除</li>
                            </ul>
                        </div>
                        <div class="editTableContent">
                            <!--tvprogram-->
                            <table id="video-table" class="table-fixed table-edit" border="0">
                                <tbody>
                                <foreach name="mediaList" item="vo">
                                    <tr data-oid="{$vo['oid']}">
                                        <td class="col-0" title="arrow"><div class="tr_arrow"></div></td>
                                        <td class="col-1" title="{$key+1}">{$key+1}</td>
                                        <td class="col-2" title="{$vo['asset_name']}">{$vo['asset_name']}</td>
                                        <td class="col-3" title="{$mediatype}">{$mediatype}</td>
                                        <td class="col-4" title="{$vo['size']}">{$vo['size']}</td>
                                        <td class="col-5" title="delete"><a href="javascript:;" title="删除热点视频" onclick="delContentClick(this, 4)">删除</a></td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--pagination-->
                    <div class="panel-footer">
                        <ul class="pagination">
                            <li><a href="__URL__/{$method}.html?p=1">首页</a></li>
                            <li><a href="__URL__/{$method}.html?p={$prevpage}">上一页</a></li>
                            <li><a href="__URL__/{$method}.html?p={$nextpage}">下一页</a></li>
                            <li><a href="__URL__/{$method}.html?p={$totalpage}">尾页</a></li>
                        </ul>
                        <div class="pager-stat pager-edit">
                            第<span id="js-curpage">{$curpage}</span>页/共<span id="js-totalpage">{$totalpage}</span>页
                            <input type="number" size="3" /><a id="js-jumppage" href="javascript:;">跳转</a>
                        </div>
                    </div>
                </div>
                <!--热点视频右边详情列表-->
                <div id="VideoRight">
                    <!--隐藏域-->
                    <input id="js-baseurl" type="hidden" value="__URL__" />
                    <input id="project_root" type="hidden" value="__ROOT__" />
                    <!--热点视频基本信息-->
                    <form id="VideoForm" name="VideoInfo" method="POST" action="__URL__/setVideoInfo">
                        <table class="tab-info">
                            <tbody>
                            <tr>
                                <td>
                                    <label for="video-title">标题: </label>
                                    <input type="text" id="video-title" name="title">
                                </td>
                                <!--Tv show video OID readonly-->
                                <td>
                                    <label for="system-name">系统命名:</label>
                                    <input type="text" id="system-name" name="oid" value="" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="video-bftime">播发时间: </label>
                                    <input type="text" id="video-bftime" name="bftime" />
                                </td>
                                <td>
                                    <label for="video-resource">来源:</label>
                                    <input type="text" id="video-resource" name="resource" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <ul class="hlist">
                            <li>
                                <label for="video-info">内容描述:</label>
                                <textarea id="video-info" name="introduction" rows="5" cols="50">无</textarea>
                            </li>
                            <li>
                                <label for="js-thumb">缩略图:</label>
                                <div class="img-wrapper"><img id="js-thumb" class="thumb" src=""></div>
                            </li>
                            <li>
                                <label for="js-poster">海报:</label>
                                <div class="img-wrapper"><img id="js-poster" class="poster" src=""></div>
                            </li>
                            <li>
                                <label for="jsqrcode">二维码</label>
                                <div class="img-wrapper"><img id="jsqrcode" class="qrcode" src="" /></div>
                            </li>
                        </ul>
                    </form>
                    <!--附件列表 添加附件-->
                    <table class="attachment">
                        <tbody>
                        <!--caption-->
                        <tr><td>附件</td><td></td></tr>
                        <!--海报 + 缩略图-->
                        <tr>
                            <td>
                                <!--海报 缩略图 文件列表 thead-->
                                <table class="appendix-table" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr class="importTableTitle">
                                        <td colspan="4">
                                            <ul class="filelisttitle">
                                                <li class="li-0">&nbsp;</li>
                                                <li class="li-1">NO.</li>
                                                <li class="li-2">文件名</li>
                                                <li class="li-3">大小</li>
                                                <li class="li-4">类型</li>
                                                <li class="li-5">操作</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--海报 缩略图 文件列表 tbody-->
                                <div class="AppendixListWrapper">
                                    <table id="AppendixList" class="table table-fixed">
                                        <tbody id="js-appendix">
                                        <!--xhr load -->
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td align="center" colspan="2">
                                <form id="appendix_upload" method="POST" enctype="multipart/form-data" action="__URL__/formUpload" >
                                    <input id="js-attachoid" type="hidden" name="attachoid" />
                                    <ul class="attach-operate">
                                        <!--上传文件之前先存草稿-->
                                        <li><input type="file" name="filename" required /></li>
                                        <li>
                                            <label for="attach-type">附件类型: </label>
                                            <select id="attach-type" name="appendixtypeid">
                                                <foreach name="appendixtypes" item="vo">
                                                    <option value="{$vo['id']}">{$vo['appendixtype']}</option>
                                                </foreach>
                                            </select>
                                        </li>
                                        <li><button id="add-appendix" type="submit">添加附件</button></li>
                                    </ul>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--备播 + 提交 + 保存草稿-->
                    <div class="cut">
                        <label for="js-cut">主文件备播: </label>
                        <button id="js-cut" onclick="cutMedia()">备播</button>
                        <span id="js-slicestatus"></span>
                        <button id="js-submit" onclick="submitEditMedia()">提交</button>
                        <button id="js-save-draft" onclick="saveDraft()">保存草稿</button>
                        <div id="fb_savedraft"></div>
                    </div>
                </div>
            </div>
            <!--END 热点视频标签页-->
        </div>
    </div>
</div>

<include file="Public/dialogs" />

</body>
<load href="__PUBLIC__/bootstrap/js/jquery-3.1.1.js" />
<js href="__PUBLIC__/jquery-ui-1.12.1/jquery-ui.js" />
<!--header date time-->
<js href="__PUBLIC__/Content/js/index.js" />
<!--common function-->
<js href="__PUBLIC__/Common/js/function.js" />
<!--cookie-->
<js href="__PUBLIC__/Common/js/cookie.js" />
<!--内容编辑-->
<js href="__PUBLIC__/Content/js/edit.js" />
<!--热点视频-->
<js href="__PUBLIC__/Content/js/video.js" />
</html>